body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.royalblue-color{
    color: rgb(34, 54, 114);
}
.orange-color{
    color: rgb(231, 152, 4);
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 4%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(rgb(223, 155, 28), rgb(250, 85, 56));
    padding: 8px 28px;
    border-radius: 5px;
}
.My-mission{
    padding: 50px;
}
.mission-item{
    width:50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10 solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.mission-item img{
    width: 90%;
}
.tomato-color{
    color: orangered;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(rgb(230, 144, 144), rgb(137, 161, 233));
    padding: 8px 28px;
    border-radius: 5px;
}
footer{
    font-family: Shadows Into Light;
    text-align: center;
    background-color: rgb(243, 120, 98);

}